.data-updater__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  padding: 7px;
  border-radius: 15px;
  width: 525px
}

.data-updater{
  display: flex;
  flex-direction: column;
align-items: center;
margin: 10px;
}

.mode-buttons-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 525px;
  margin-top: 10px;

}

.loggedin-logout{
  display: flex;
  flex-direction: row;;
}



.data-updater__mode-button, .data-updater__mode-button--selected {
  width: 130px;
  border-radius: 7px 7px 0px 0;
}


.data-updater__button{
  height: 40px;
  width: 155px;
  border-radius: 7px;
}

.data-updater__button, .data-updater__mode-button, .data-updater__mode-button--selected {
  padding: 10px;

  cursor: pointer;
 
}

.data-updater__mode-button{
  background-color: grey;
  height: 37px;
  margin: 0px
}

.data-updater__mode-button--selected{
  background-color: #efefef;
  color: black;
  border: 2.5px solid;
  border-color: black;
  height: 40px;
  margin: 0px
}





.data-updater p{
  font-size: 12.5px;
  opacity: 0.6;
  color: black;
  margin: 12px 5px 2px
}



.data-updater__subcontainer p,
button {
  margin: 10px 8px;
}
