.import-interface__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.add-playlist__input button {
  height: 40px;
  width: 80px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  border-style: none;
  background-color: var(--white);
  color: var(--bg);
  margin-left: 10px;


}

.add-playlist__input button:hover{
  background-color: var(--green);
}

.add-playlist__input input {
  height: 40px;
  width: 180px;
  padding: 0px 15px;
  border-radius: 0px;
  border: none;
  background-color: var(--bg-hl);
  color: var(--white);
  font-size: 14px;
  ::placeholder {
    color: var(--silver);
  }
}

.add-playlist-heading {
  font-size: 16px;
  color: var(--white);
  text-align: center;
}

.year {
  height: 40px;
  width: 85px;
  padding: 0px 15px;
  border-radius: 0px;
  border: none;
  background-color: var(--bg-hl);
  color: var(--white);
  font-size: 14px;
}

.import-interface__error-true,
.import-interface__error-false {
  font-size: 16px;
  width: 200px;
  color: var(--green);
  text-align: center;
}

.import-interface__error-false {
  visibility: hidden;
}


.new-playlist-info{
  
    font-size: 32px;
    font-weight: bold;
    color: var(--white);
  text-align: center;
}

.add-playlist-button {
  margin: 8px;
  padding: 5px;
  border-radius: 20px;
  width: 145px;
  height: 60px;
  cursor: pointer;
  font-size: 16px;
  border-style: none;
  background-color: var(--green);
  color: var(--bg);
}

.cancel-add-playlist-button {
  margin: 8px;
  padding: 5px;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-size: 14px;
  border-style: none;
  background-color: var(--bg-hl);
  color: var(--white);
}