.import-interface{
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 10px;
    border-radius: 15px;
    width: 440px;
    height: 160px;
}

.import-interface__input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.import-interface button{
    height: 40px;
    width: 80px;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
  }

  .import-interface input{
    height: 35px;
    width: 180px;
    padding: 0px 15px;
    border-radius: 7px;
  }

  .add-playlist-heading{
    font-size: 15.5px;
    opacity: 0.9
  }

  .year{
    height: 35px;
    width: 85px;
    padding: 0px 15px;
    border-radius: 7px;
  }

  .import-interface__error-true, 
  .import-interface__error-false{
    font-size: 14px;
    width: 200px;
    color: darkred;
    text-align: center;
  }

  .import-interface__error-false{
    visibility: hidden;
  }