.create-playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 15px;
  width: 1100px;
  margin: 20px;
}

.info {
  font-size: 16px;
  color: var(--silver);
  margin: 0px;
}

.info--big {
  font-size: 32px;
  font-weight: bold;
  color: var(--white);
}

.create-button {
  margin: 8px;
  padding: 5px;
  border-radius: 20px;
  width: 145px;
  height: 60px;
  cursor: pointer;
  font-size: 16px;
  border-style: none;
  background-color: var(--green);
  color: var(--bg);
}

.cancel-button {
  margin: 8px;
  padding: 5px;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-size: 14px;
  border-style: none;
  background-color: var(--bg-hl);
  color: var(--white);
}
