.data-updater__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  padding: 7px;
  margin: 10px;
  border-radius: 15px;
}

.data-updater{
  display: flex;
  flex-direction: column;
align-items: center;
}

.loggedin-logout{
  display: flex;
  flex-direction: row;;
}

.data-updater__button {
  width: 150px;
}

.data-updater__button,
.wrapped-button {
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  width: 150px;
}

.wrapped-button {
  width: 165px;
}

.data-updater h3{
  font-size: 14px;
  font-weight: bold;
  opacity: 0.9
}

.data-updater p{
  font-size: 12.5px;
  opacity: 0.6;
  color: black;
  margin: 12px 5px 2px
}



.data-updater__subcontainer p,
button {
  margin: 7px 8px;
}
