.data-updater__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  padding: 7px;
  margin: 10px;
  border-radius: 15px;
  width: 525px
}

.data-updater{
  display: flex;
  flex-direction: column;
align-items: center;
}

.loggedin-logout{
  display: flex;
  flex-direction: row;;
}



.data-updater__mode-button, .data-updater__mode-button--selected {
  width: 135px;

}


.data-updater__button{
  height: 40px;
  width: 155px;
}

.data-updater__button, .data-updater__mode-button, .data-updater__mode-button--selected {
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
 
}

.data-updater__mode-button{
  background-color: grey;
  height: 40px;
}

.data-updater__mode-button--selected{
  background-color: #4CAF50;
  color: black;
  border: 3.5px solid;
  border-color: black;
  height: 50px;

}





.data-updater p{
  font-size: 12.5px;
  opacity: 0.6;
  color: black;
  margin: 12px 5px 2px
}



.data-updater__subcontainer p,
button {
  margin: 10px 8px;
}
