table {

  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: var(--bg);
}

td,
th {
  padding: 6px 12px;
  border: none;
  color: var(--silver);
  font-size: 14px;
  font-weight: normal;
  height: 40px
}

td.position,
th.header-numeric, .count {
  text-align: right;
}

th.header-text {
  text-align: left;
}

td.count {
  align-items: center;
}

.title, .artist{
  font-size: 16px;
  color: var(--white);
}

.position{
  width: 30px;
}

.title{
  width: 400px;

}

.artists, .artist {
  width: 300px;
}

.count{
  width: 30px;
}