#options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px
}




  .option-button-selected, .option-button-unselected {
    margin: 8px;
    padding: 5px;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
    border-style: none;
  }

.option-button-unselected {
    background-color: var(--bg-hl);
    color: var(--white);
  }

  .option-button-selected {
    background-color: var(--white);
    color: var(--bg)
  }

  #option-button-hidden{
    display: none
  }