.navbar{
  position: fixed;
  height: 100vh;
}

.nav-buttons-div {
  margin: 20px;
  width: 170px;
  background-color: var(--bg);
  border-radius: 10px;
}

.empty-div {
  margin: 20px;
  width: 170px;
  background-color: var(--bg);
  border-radius: 10px;
  height: 71vh
}


.nav-button,
.nav-button--selected {
  width: 170px;
  padding: 20px;
  cursor: pointer;
  height: 180px;
  font-size: 16px;
  text-align: left;
  border: none;
  border-radius: 10px;
  margin: 0px;
}

.nav-button {
  background-color: var(--bg);
  color: var(--silver);
}

.nav-button:hover, .nav-button:hover > *,
.username  {
  color: var(--white);
}

.nav-button--selected {
  background-color: var(--bg-hl);
  color: var(--white);
}

.nav-button__subheading {
  font-size: 14px;
  margin-top: -7px;
  color: var(--silver);
}
